@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eaeaea;
  --foreground: #ededed;
}

main {
  @apply font-lora
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

header {
  @apply font-poppins font-semibold
}
